.semFavoritos {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.meus-filmes {
  margin: 0 60px;
}

.meus-filmes ul {
  height: 10vh;
  padding: 0;
}

.meus-filmes li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 10px 200px;
  padding-bottom: 5px;
  border-bottom: solid 1px var(--white);
}

.meus-filmes span {
  font-size: 18px;
  color: var(--white);
}

.meus-filmes div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meus-filmes div a {
  padding: 5px;
  border-radius: 6px;
  background-color: var(--color-button);
  text-decoration: none;
  color: var(--white);
  margin-right: 14px;
  transition: all 0.5s;
}

.meus-filmes div a:hover {
  background-color: #326be6;
  font-weight: 500;
}

.meus-filmes div button {
  background-color: transparent;
  padding: 4px;
  border-radius: 6px;
  border-color: #e72929;
  color: #e72929;
  cursor: pointer;
  transition: all 0.5s;
}

.meus-filmes div button:hover {
  background-color: #e72929;
  color: var(--white);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .meus-filmes {
    margin: 0 20px;
  }

  .meus-filmes ul {
    height: 20vh;
  }

  .meus-filmes li {
    flex-direction: column;
    margin: 4px 20px;
  }
  
  .meus-filmes span {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .meus-filmes div a, button {
    font-size: 12px;
  }
} 