.filme-info {
  min-height: calc(60vh - 40px);
  padding-bottom: 40px;
  overflow: auto;
  margin: 0 auto;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 8px;
}

.filme-info h2 {
  margin: 5px 0;
  color: var(--white);
  font-weight: 500;
}

.filme-info img {
  border-radius: 8px;
  width: 800px;
  max-width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.filme-info h3 {
  margin-top: 14px;
  color: var(--white);
}

.filme-info span {
  margin: 8px 0;
  color: var(--white);
}

.filme-info strong {
  color: var(--white);
  margin-top: 10px;
}

.area-buttons button {
  background-color: var(--color-button);
  margin: 14px 12px 15px 0;
  font-size: 18px;
  border: 0;
  outline: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s;
  color: var(--white);
}

.area-buttons button:hover{
  background-color: #326be6;
  font-weight: 500;
}

.area-buttons a {
  text-decoration: none;
  color: var(--white);
  transition: all 0.5s;
}

.area-buttons a:hover {
  color: var(--white);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .filme-info {
    margin: 0 20px;
  }

  .filme-info h2, h3, span, strong, a  {
    font-size: 14px;
  }

  .area-buttons button {
    font-size: 14px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .filme-info {
    margin: 0 20px;
  }

  .filme-info h2, h3, span, strong, a  {
    font-size: 14px;
  }

  .area-buttons button {
    font-size: 14px;
  }

}