.filmes {
  min-height: calc(60vh - 40px);
  padding-bottom: 40px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  gap: 20px;
  
}

.filmes article {
  align-items: center;
  width: 300px;
  background-color: var(--gray-card);
  padding: 0 15px 15px 15px;
  border-radius: 4px;
}

.filmes h3 {
  max-height: 20px;
  text-align: center;
  font-size: 16px;
  color: var(--white);
}

.filmes img {
  padding-top: 10px;
  width: 300px;
  max-width: 100%;
  max-height: 320px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.filmes a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 20px;
  background-color: var(--color-button);
  text-decoration: none;
  color: var(--white);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: all 0.5s;
}

.filmes a:hover {
  background-color: #326be6;
  font-weight: 500;
}

.loading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 14px;
  color: gray;
}

@media screen and (min-width: 320px) and (max-width: 748px) {
  .filmes img {
    padding-top: 20px;
    max-height: 280px;
  }

  .filmes article {
    width: 160px;

  }

  .filmes a {
    font-size: 14px;
  }

  .filmes h3 {
    font-size: 14px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  
  .filmes article {
    width: 350px;
  }

  .filmes img {
    padding-top: 10px;
    width: 350px;
    max-height: 460px;

  }

  .filmes a {
    font-size: 14px;
  }

  .filmes h3 {
    font-size: 14px;
  }
}