.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1em 10em;
  background-color: var(--black);
  position: fixed;
  left: 0;
  right: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .cabecalho {
    flex-direction: column;
  }

  .logo {
    width: 160px;
  }

  .cabecalho nav {
    margin-top: 10px;
  }
}