:root {
  --fonte: 'Montserrat', sans-serif;
  --grayDark: #0f0f0f;
  --black: #080808;
  --gray: #808080;
  --gray-card: #131313;
  --white: #e9e9e9;
  --color-button: #1b54cf;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--grayDark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}